<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>Home - Spring Security Example</title>
        <style>
            body {
                font-family: sans-serif;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div style="text-align: center">
            <h1>Spring Security Demo</h1>
            <p>Greetings, <a th:href="@{/welcome}">Click Me!</a></p>
        </div>   
    </body>
</html>